/*
  VERSION:              Robin Trachsel
  DATE:                 30.09.2024
  DESCRIPTION:          CSS file for the frontend
*/

:root {
	--primary-color: #06070E;
	--secondary-color: #FFF3F0;
	--tertiary-color: #7F7EFF;
	--quaternary-color: #A390E4;
	--quinary-color: #0FA3B1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background-color: whitesmoke;
}

header,
main,
footer {
	width: 60vw;
	max-width: 1920px;
	min-width: 1000px;
}

main {
	min-height: 100vh;
	background-color: white;
}

header,
footer {
	height: 10vh;
	background-color: var(--primary-color);
}

@media (max-width: 1000px) {
	header,
	main,
	footer {
		width: 100vw;
	}
}